@font-face {
  font-family: "BadMotorFont";
  src: url("./BadMotorFont.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url("./imgs/pizzaOven.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "BadMotorFont", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 40%;
  min-width: 500px;
}

.tab {
  background-color: rgba(255, 177, 60, 0);
  color: blanchedalmond;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  color: blanchedalmond;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: solid 1px rgba(255, 220, 170, 0.6);
  border-radius: 10px;
  padding: 24px;
}

.headLine {
  font-size: 48px;
}

.slogan {
  font-size: 18px;
}

.dish {
  padding: 16px;
  font-size: 18px;
}

.dishDesc {
  white-space: pre-line;
}

.aboutUs {
  font-size: 18px;
}

.phoneNumber,
.address,
.emailAddress {
  font-size: 18px;
}
